{{template "html-start.html" .}}
<h1>{{.event.Name}}</h1>

{{if .navData.user.Admin}}
  <p>
  <a href="/edit_event?id={{.id}}">Edit event</a>

  <p>
  <form action="/delete_event" method="post"
      onsubmit="return confirm('Delete this event and all guests?')">
    <input type="hidden" name="id" value="{{.id}}">
    <input type="submit" value="Delete event">
  </form>
{{end}}

<h2>
  {{if .showAllGuests}}
    Showing all {{len .event.Guests}} guest(s)
  {{else}}
    Showing only guests invited by {{.navData.user.Email}}
    ({{len .event.Guests}} out of {{.totalGuests}} total)
  {{end}}
</h2>

<p>
{{if .showAllGuests}}
  <a href="/event?id={{.id}}">Show only my guests</a>
{{else}}
  <a href="/event?id={{.id}}&show_all_guests=true">Show all guests</a>
{{end}}

{{if .navData.user}}
  <p>
  <a href="/add_guest?event_id={{.id}}">+ Add a guest</a>
{{end}}

{{if len .event.Guests}}
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Host email</td>
        <td>Code</td>
        <td>Response</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      {{range .event.Guests}}
        <tr>
          <td>{{.Name}}</td>
          <td>{{.Email}}</td>
          <td>{{.HostEmail}}</td>
          <td>
            <a href="/respond?event_id={{$.id}}&guest_code={{.Code}}"
              >{{.Code}}</a>
          </td>
          <td>
            {{if .HasResponded}}
              {{if .Response}}
                <span title="{{.Name}} has confirmed">✓</span>
              {{else}}
                <span title="{{.Name}} has declined">no</span>
              {{end}}
            {{else}}
              <span title="{{.Name}} has not responded">—</span>
            {{end}}
          </td>
          <td>
            <form action="/edit_guest" method="get">
              <input type="hidden" name="event_id" value="{{$.id}}">
              <input type="hidden" name="guest_code" value="{{.Code}}">
              <input type="submit" value="Edit">
            </form>
          </td>
          <td>
            <form action="/delete_guest" method="post"
                onsubmit="return confirm('Delete {{.Name}} ({{.Email}})?');">
              <input type="hidden" name="event_id" value="{{$.id}}">
              <input type="hidden" name="guest_code" value="{{.Code}}">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {{end}}
    </tbody>
  </table>
{{end}}
{{template "html-end.html"}}
